[Desktop Entry]
Name=WezTerm
Comment=GPU-accelerated terminal emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=wezterm
StartupWMClass=org.wezfurlong.wezterm
TryExec=/home/doctorkotik/.local/share/mise/shims/wezterm
Exec=/home/doctorkotik/.local/share/mise/shims/wezterm start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
