{:shortcuts {:editor/paste-text-in-one-block-at-point ["mod+shift+v" "ctrl+v"]
             :go/search ["space f f" "space p f" "space b b" "space p b" "space ." "space space"]
             :ui/toggle-right-sidebar ["mod+w v" "space w v"]
             :command-palette/toggle ["mod+shift+p" "alt+x"]
             :editor/escape-editing ["mod+g"]
             :window/close ["space q q"]
             :graph/save ["mod+s" "space f s"]}}
