{:shortcuts {:editor/paste-text-in-one-block-at-point ["mod+shift+v" "ctrl+v"]
             :go/search ["mod+x mod+b" "mod+x b" "mod+x mod+f" "mod+x f"]
             :ui/toggle-right-sidebar ["mod+`" "mod+x 3"]
             :command-palette/toggle ["mod+shift+p" "alt+x"]
             :editor/escape-editing ["mod+g"]
             :editor/redo ["mod+shift+z" "mod+y" "mod+shift+/"]
             :window/close ["mod+x mod+c"]
             :graph/save ["mod+s" "mod+x s"]
             :editor/undo ["mod+z" "mod+/" "mod+x u"]}}
